*{
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}
nav{
  background-color: black;
  display: flex;
  gap:6vw;
  position:fixed;
  top:0px;
}
li{
  margin:0 2vw;
  list-style-type: none;
}
.red{
  background-color: red;
}